bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/publish
!/publish/BobTools.sh
DiskStatusAnalyzer.sln.DotSettings.user
/src/DiskStatusAnalyzer/logs
.vs/
.vscode/
*/log.txt
.editorconfig
/**/test-coverage/
