Package: bob-tools
Version: current_version
Section: unknown
Priority: optional
Architecture: amd64
Maintainer: Qoollo <info@qoollo.com>
Depends: rsync, xxhash
Homepage: https://github.com/qoollo/bob-tools
Description: Various tools for interacting with bob
